*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}
body{
    background-color: #A6341B;
}
nav{
    background-color: #F9C743;
    position: sticky;
    top:0px
}
li{
    font-size: 20px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #60371E;
}
img{
    width: 100%;
    height: 250px;
}
h1{
    margin-left: 2%;
    margin-top: 20px;
}
h2{
    margin-left: 2%;
    bottom: 15px;
    
}
p{
    margin-left: 2% ;
    margin-bottom: 10px;
}
.card{
    border: 2px solid  black;
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    background-color: #D1BF91
}
.img-card{
    width: 50%;
    object-fit: scale-down;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.contacto{
    font-size: 100%;
    display: flex;
    justify-content: center ;
}
.envia{
    display: flex;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}